[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Actions=getPublicLink;save;
X-KDE-Submenu=Я.Диск
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel


[Desktop Action getPublicLink]
Name=Скопировать публичную ссылку
Exec=~/.kde4/share/kde4/services/yandex/disk.sh get_link "%f"


[Desktop Action save]
Name=Сохранить на Я.Диск...
Exec=~/.kde4/share/kde4/services/yandex/disk.sh save "%f"