[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=getPublicLink;
X-KDE-Submenu=Yandex.Disk
X-KDE-Submenu[ru]=Яндекс.Диск
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel


[Desktop Action getPublicLink]
Name=Copy public link
Name[ru]=Скопировать публичную ссылку
Exec=`kde4-config --localprefix`share/kde4/services/yandex/disk.sh get_link "%f" 
Exec[ru]=`kde4-config --localprefix`share/kde4/services/yandex/disk.sh get_link "%f" ru
